.App {
  text-align: start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 5px 25px;
}

.table {
  width: 75%;
}

.search-history {
  width: 20%;
  overflow: hidden;
  height: 20%;
}

.history-item {
  border: 1px solid;
  cursor: pointer;
}

.column-name {
  text-transform: capitalize;
}

.column-name th {
  text-align: start;
}

.filter-wrapper {
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 8px;
}

.ant-list-split li.ant-list-item:last-child {
  border-bottom: 1px solid;
}

div.ant-radio-group {
  display: flex;
  flex-direction: column;
}

li.ant-dropdown-menu-item:hover {
  background-color: transparent;
}

.search {
  width: 30%;
  display: flex;
  margin: 15px auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-content.ant-menu {
  display: flex;
  background-color: transparent;
  border: none;
}

.menu-content .ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  background-color: transparent;
}

.menu-content .ant-menu-item a {
  color: white;
}

.menu-content .ant-menu-item a:hover {
  color: #d3d2d2;
  text-decoration: underline;
}

.login-form.ant-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.login-form .ant-form-item {
  width: 30%;
}

.login-form .ant-form-item-control-input-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

/* .login-form .ant-input {
  width: 20%;
} */
